<!-- Add your content of head and header -->
{% extends 'web01/base.html' %}
{% load static %}



{% block content %}

{% if not_login %}
    <script>alert("로그인 후 게시물 작성이 가능합니다.")</script>
{% endif %}
<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">게시물 작성</h2>
                </div>
                <form action="./createList/" method="POST"> {% csrf_token %}
                    <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="글제목" value="{{content.title}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="20" name="context" placeholder="Enter your message">{{content.context}}</textarea>
                    </div>
                    <div>
                        {{error}}
                    </div>
                    <button type="submit" class="btn btn-primary">게시글 등록</button>
                    <a href="{% url 'viewList' %}" class="btn btn-default">취소</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}