<!-- Add your content of head and header -->
{% extends 'web01/base.html' %}


{% block content %}

<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">회원가입</h2>
                </div>
                <form action="./userJoin/" method="POST">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="id" name="user_id" class="form-control" placeholder="아이디">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
                            </div>
                        </div>
                        <div class="col-md-6">
                            {{error}}
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" id ="password2" name="password2" class="form-control" placeholder="비밀번호확인">
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" name="passwordCheck" class="form-control" placeholder="이메일">
                            </div>
                        </div> -->
                    </div>


                    <button type="submit" class="btn btn-primary">회원가입</button>
                    <a href="{% url 'index' %}" class="btn btn-default">취소</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}