# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cloud_msa\django_workspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
